:root {
  --font-family-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-family-mono: "Roboto Mono", "Consolas", "Monaco", monospace;
  --font-family-mono-alt: "Courier New", monospace;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 28px;
  --font-size-4xl: 32px;

  --line-height-tight: 1.2;
  --line-height-base: 1.6;
  --line-height-loose: 1.8;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}